body {
    background-color: black;
}
h1,h2,h3,p
{
    color: white;
}
.david-christie-main-heading
{
    color: white;
    font-size: 10em;
    padding-bottom: 0;
    margin-bottom: 0;
}
.subtitle
{
    font-weight: lighter;
    margin-left: 5%;
}
.intro
{
    font-size: 2em;
    margin-top: 5%;
}
.general-kenobi
{
    color:#555;
    background-color: #555;
    font-size: 0.5em;
}
.general-kenobi:hover
{
    color: white;
    background-color: black;
    font-size: 0.5em;
}

.social-icons
{
    font-size: 5em;
    margin-top: 25%
}
/*
    Glitch effect from : https://codepen.io/aldrie/pen/PojGYLo
*/

.stack {
    display: grid;
    color: white;
    grid-template-columns: 1fr;
    font-weight: lighter;
    margin-left: 75%;
}
.stack span {
    font-weight: light;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 3rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: glitch 0.5s ease infinite 0s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }


@keyframes glitch {
0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
}
10% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
}
20%, 100% {  text-shadow: none; transform: none; }
}

.logo {
    height: 50px;
    width: auto;
    margin-left:2%;
}
.page-divider
{
    width:100%;
    background-color: white;
    height: 0.2vh;
}


#toast-container
{
    top: auto !important;
    right: auto !important;
    bottom: 5%;
    left:50%; 
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
