body {
    background-color: black;
}
h1,h2,h3,p
{
    color: white;
}
.david-christie-main-heading
{
    color: white;
    font-size: 10em;
    padding-bottom: 0;
    margin-bottom: 0;
}
.subtitle
{
    font-weight: lighter;
    margin-left: 5%;
}
.intro
{
    font-size: 2em;
    margin-top: 5%;
}
.general-kenobi
{
    color:#555;
    background-color: #555;
    font-size: 0.5em;
}
.general-kenobi:hover
{
    color: white;
    background-color: black;
    font-size: 0.5em;
}

.social-icons
{
    font-size: 5em;
    margin-top: 25%
}
/*
    Glitch effect from : https://codepen.io/aldrie/pen/PojGYLo
*/

.stack {
    display: grid;
    color: white;
    grid-template-columns: 1fr;
    font-weight: lighter;
    margin-left: 75%;
}
.stack span {
    font-weight: light;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 3rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: glitch 0.5s ease infinite 0s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }


@keyframes glitch {
0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
}
10% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
}
20%, 100% {  text-shadow: none; transform: none; }
}

.logo {
    height: 50px;
    width: auto;
    margin-left:2%;
}
.page-divider
{
    width:100%;
    background-color: white;
    height: 0.2vh;
}




/*
    Timeline from:
    https://codepen.io/aashimajain19/pen/ExXBmYO
*/

.Yearly-timeline .timeline{
    width: calc(50% + 17px);
    padding: 0 30px 30px 0;
    float: left; 
    position: relative;
}
.Yearly-timeline .timeline:before,
.Yearly-timeline .timeline:after{
    content: '';
    height: 60px;
    width: 2px;
    border-left: 2px solid #70d6ff;
    transform: rotate(-45deg);
    position: absolute;
    right: 30px;
    bottom: 0;
}
.Yearly-timeline .timeline:after{
    background-color: #fff;
    height: 20px;
    width: 20px;
    border: 6px solid #70d6ff;
    border-radius: 50%;
    right: 0;
}   
.Yearly-timeline .timeline-content{
    color: #555;
    background: #70d6ff;
    text-align: center;
    min-height: 170px;
    padding: 30px 35px 35px;
    border-radius: 15px 15px 0 15px;
    display: block;
    position: relative;
    z-index: 1;
}
.Yearly-timeline .timeline-content:before{
    content: '';
    background-color: #fff;
    position: absolute;
    left: 17px;
    right: 17px;
    top: 17px;
    bottom: 17px;
    z-index: -1;
}
.Yearly-timeline .timeline-content:hover{ text-decoration: none; }
.Yearly-timeline .timeline-icon{
    color: #777;
    font-size: 35px;
}
.Yearly-timeline .title{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 8px;
}
.Yearly-timeline .description{
    color: #777;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin: 0;
}
.Yearly-timeline .timeline:nth-child(even){
    padding: 0 0 30px 30px;
    float: right;
}
.Yearly-timeline .timeline:nth-child(even):before{
    transform: rotate(45deg);
    right: auto;
    left: 30px;
}
.Yearly-timeline .timeline:nth-child(even):after{
    right: auto;
    left: 0;
}
.Yearly-timeline .timeline:nth-child(even) .timeline-content{ border-radius: 15px 15px 15px 0; }
.Yearly-timeline .timeline:nth-child(4n+2):before,
.Yearly-timeline .timeline:nth-child(4n+2):after{
    border-color: #ff70a6;
}
.Yearly-timeline .timeline:nth-child(4n+2) .timeline-content{
    background: #ff70a6;
}
.Yearly-timeline .timeline:nth-child(4n+3):before,
.Yearly-timeline .timeline:nth-child(4n+3):after{
    border-color: #ff9770;
}
.Yearly-timeline .timeline:nth-child(4n+3) .timeline-content{
    background: #ff9770;
}
.Yearly-timeline .timeline:nth-child(4n+4):before,
.Yearly-timeline .timeline:nth-child(4n+4):after{
    border-color: #ffd670;
}
.Yearly-timeline .timeline:nth-child(4n+4) .timeline-content{
    background:#ffd670;
}
@media screen and (max-width:767px){
    .Yearly-timeline .timeline{
        width: 100%;
        padding: 30px 0 0 30px;
        margin: 0 0 20px;
    }   
    .Yearly-timeline .timeline:before,
    .Yearly-timeline .timeline:nth-child(even):before{
        transform: rotate(-45deg);
        bottom: auto;
        top: 0;
        right: auto;
        left: 30px;
    }
    .Yearly-timeline .timeline:after,
    .Yearly-timeline .timeline:nth-child(even):after{
        bottom: auto;
        top: 0;
        right: auto;
        left: 0;
    }
    .Yearly-timeline .timeline-content,
    .Yearly-timeline .timeline:nth-child(even) .timeline-content{
        border-radius: 0 15px 15px 15px;
    }
}

#toast-container
{
    top: auto !important;
    right: auto !important;
    bottom: 5%;
    left:50%; 
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}